<ion-header>
  <ion-toolbar>
    <ion-title>PHARMACONTROL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-container">
    <ion-img src="../../../assets/imagenes/farmaco.png"></ion-img>
    <div class="info-section">
      <h2>Gestión Integral de Medicamentos</h2>
      <p>Mantén un control preciso de los medicamentos de tus hijos y mascotas con nuestra completa gestión de inventario, recordatorios automáticos y alertas de reposición.</p>
      <h2>Recordatorios Personalizados</h2>
      <p>Recibe notificaciones personalizadas para cada dosis y asegúrate de que nunca falte el medicamento necesario, ya sea para tus hijos o tus mascotas.</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-button class="custom-button" (click)="goToNextTab('tabs/tab2')">Siguiente</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

