ion-back-button {
    color: var(--ion-color-primary); // Cambia esto según el esquema de colores de tu aplicación
    --icon-font-size: 24px; // Tamaño del icono
    --text-font-size: 18px; // Tamaño del texto
  }
  